 <link rel="import" href="../polymer/polymer-element.html">

<dom-module id="cryptoinfo-card">
  <template>
    <style>
      :host {
        display: block;
      }
      h2 {
        text-align: center;
      }
      table{
      border: solid 1px;
      border-spacing: 2px;
      white-space: normal;
      font-size: medium;
      font-style: normal;
      text-align: start;
      font-variant: normal;
      width: 100%;
    }
    section{
      flex-direction: column
    }

    </style>
    <section>
    
  <table>
  <thead></thead>
  <tbody>
   <tr>
     <th>ID</th>
     <th>Description</th>
     <th>Currenci</th>
     <th>Amont</th>
   </tr>
   <tr>
     <th>c1 f2</th>
     <th>c2 f2</th>
     <th>c3 f2</th>
     <th>c4 f2</th>
   </tr>
   <tr>
     <th>c1 f2</th>
     <th>c2 f2</th>
     <th>c3 f2</th>
     <th>c4 f2</th>
   </tr>
   <tr>
     <th>c1 f2</th>
     <th>c2 f2</th>
     <th>c3 f2</th>
     <th>c4 f2</th>
   </tr>
  </tbody>
  <tfooter></tfooter>
</table>
  </section>

  </template>

  <script>
    /**
     * `cryptoinfo-card`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class CryptoinfoCard extends Polymer.Element {
      static get is() { return 'cryptoinfo-card'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'cryptoinfo-card'
          }
        };
      }
    }

    window.customElements.define(CryptoinfoCard.is, CryptoinfoCard);
  </script>
</dom-module>
